*{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
}

nav {
    text-align: center; /*centre le texte*/
}

ul {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: underline;
}

nav li {
    display: inline;
    list-style: none;
}
/*fin de la partie header*/
.etudes{
    background: linear-gradient(rgba(0, 0, 0, 0.602), rgba(0, 0, 0, 0.52)),
    url(/image/imagefond.jpg) center/cover;
}

.titreetudes{
    text-align: center;
    color: white;
}

.etudes h1{
    text-align: center;
}

.etudesecole{
    margin-left: 23%; /*permet d'écarter les blocs vers la droite*/
}

.ecole{
    width: 70%;
    height: 20%;
    background-color: white;
    align-items: center;
    border-radius: 30px;
}

.ecole img{
    margin-left: 43%;
    width: 15%;
    height: 20%;
    border-radius: 30px;
}

/*fin études*/

.mail:hover{    /*pour changer l'aaspec*/
    color: grey;
    font-weight: bold;
}

.mail{
    text-decoration: underline;
}

.contact{
    color: white;
    text-align: center;
}

